name: advanced_particle_effects
description: Easy-to-use particle effects for Flutter. Customizable particle count, size, colors, and connection lines. Works with zero configuration, smart defaults included.
version: 1.0.1
homepage: https://github.com/AzizulHakimFayaz/advanced_particle_effects
repository: https://github.com/AzizulHakimFayaz/advanced_particle_effects
issue_tracker: https://github.com/AzizulHakimFayaz/advanced_particle_effects/issues

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
